################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/FileReader/.vs/FileReader/v16
/FileReader/FileReader/obj
/FileReader/FileReader/bin/Debug/netcoreapp3.1
